#indexbody{
    color: white;
    background-image: url(/images/indexBackground.jpg);
    background-attachment: fixed;
}

#feedbackbody{
    background-image: url(/images/feedbackbackground2.jpg);
    background-attachment: fixed;
}

#navtop {
    background-image: linear-gradient(to right, black, rgb(5, 19, 83));
    opacity: 0.7;
}

.jumbotron {
    background-color: transparent;
}